
  
  * {
    box-sizing: border-box;
    border: 15px solid transparent;
    padding: 15px;   
    /* border-image: url(border.png); */
    border-image-slice: 30;
    border-image-repeat: round;
    border-image-outset:100px 5px 15px 10px;
    border: goldenrod;
    float: center;
  }
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(38, 90, 83);
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  form.example input[type=number] {
    padding: 22px;
    font-size: 90px;
    border: 10xpx gold;
    float: left;
    width: 400%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 40%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "    ";
    clear: both;
    display: table;
  }
  
  
  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
